/* Variables */

:root {
    --basic-black: #000000;
    --basic-extra-dark:#293449;
    --basic-dark: #32425C;
    --basic-neutral: #F1F5F7;
    --basic-light: #F9F5F0;
    --basic-extra-light: #f3f7f8;
    --basic-white: #ffffff;

    --special: #EE3643;
    --special-2: #63A63E;
    --special-3: #FFD180;
}

/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    background-color: var(--basic-extra-light);
}

.header-top {
    background-color: var(--basic-dark);
}

.title {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--special)
}

.header-nav {
    font-size: 18px;
    background-color: var(--basic-dark);
    color: var(--basic-white);

}
.header-nav ul {
    list-style: none;
}
.header-nav a {
    color: var(--basic-white);
}

.header-nav a:hover,
.header-nav a:focus {
  background-color: var(--basic-extra-dark);
}

.index-columns h2 {
    font-size: 30px;
    line-height: 30px;
}
.btn {
    font-size: 14px;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--special);
    border: none;
}
.about ul {
    font-size: 18px;
    list-style: none;
}
.about p {
    font-family: "PT Sans";
}

.about h2 {
    font-weight: normal;
    text-transform: uppercase;
}
.contacts h2 {
    font-weight: normal;
    text-transform: uppercase;
}
.contacts p {
    font-family: "PT Sans";
}
.footer {
    background-color: var(--basic-dark);
    color: var(--basic-white);
}

.footer-top a {
    color: var(--basic-white);
}

.footer-top a:hover,
.header-top a:focus {
    text-decoration: underline;
}

.footer-nav-1 ul {
    list-style: none;
    color: var(--special-3)
}

.footer-nav-2 ul {
    list-style: none;
    
}
.footer-bottom {
    background-color: var(--basic-extra-dark);
}

.footer-social li {
    list-style: none;
}
.social-button:hover,
.social-button:focus {
    background-color: var(--special);
}